<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>设备号.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CACF28D41C5B967B009F7EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CACF28ED1C5B967B009F7EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CACF28F81C5B967B009F7EF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
